## Basic of Manipulating Pandas DateFrames

Adapted from "Manipulating DataFrames with pandas" @ [DataCamp](https://www.datacamp.com/courses/manipulating-dataframes-with-pandas)

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('./sales.csv', index_col='month')
df

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72
Apr      77  87.0    20
May     132   NaN    52
Jun     205  60.0    55

## Indexing DataFrames
### Indexing with square brackets

In [ ]:
df['salt']['Jan']

### Using column attribute and row label

In [ ]:
 df.eggs['Mar']

### Using the .loc accessor

In [ ]:
df.loc['May', 'spam']

### Using the .iloc accessor

In [ ]:
df.iloc[4, 2]

### Selecting only some columns

In [ ]:
df

In [ ]:
df_new =  df[['salt','eggs']]
df_new

## Slicing DataFrames

In [ ]:
df

### Selecting a column (i.e., Series)

In [ ]:
df['eggs']

In [ ]:
type(df['eggs'])

### Slicing and indexing a Series

In [ ]:
df['eggs'][1:4] # Part of the eggs column

In [ ]:
df['eggs'][4] # The value associated with May

### Using .loc[]

In [ ]:
df.loc[:, :] # All rows, all columns

In [ ]:
df.loc[:, 'eggs':'salt'] # All rows, some columns

In [ ]:
 df.loc['Jan':'Apr',:] # Some rows, all columns

In [ ]:
 df.loc['Mar':'May', 'salt':'spam'] # Some rows, some columns

In [ ]:
 df.iloc[2:5, 1:] # A block from middle of the DataFrame

### Using lists rather than slices

In [ ]:
df.loc['Jan':'May', ['eggs', 'spam']]

In [ ]:
 df.iloc[[0,4,5], 0:2]

### Series versus 1-column DataFrame

In [ ]:
df['eggs']

In [ ]:
type(df['eggs'])

In [ ]:
 df[['eggs']]

In [ ]:
 type(df[['eggs']])

## Filtering DataFrames

### Creating a Boolean Series

In [ ]:
 df.salt > 60

### Filtering with a Boolean Series

In [ ]:
 df[df.salt > 60]

In [ ]:
 enough_salt_sold = df.salt > 60

In [ ]:
df[enough_salt_sold]

### DataFrames with zeros and NaNs

In [ ]:
df2 = df.copy()

In [ ]:
df2['bacon'] = [0, 0, 50, 60, 70, 80]  # add a new column
df2['sushi'] = [0, 0, 0, 0, 0, 0]

In [ ]:
df2

### Select columns with all nonzeros

In [ ]:
 df2.loc[:, df2.all()]

### Select columns with any nonzeros

In [ ]:
 df2.loc[:, df2.any()]

### Select columns with any NaNs

In [ ]:
 df2.loc[:, df2.isnull().any()]

### Select columns without NaNs

In [ ]:
df2.loc[:, df2.notnull().all()]

### Drop rows with any NaNs

In [ ]:
df2

In [ ]:
df2.dropna(how ='any')

### Filtering a column based on another

In [ ]:
df2.eggs[df2.salt > 55]

### Drop a row

In [ ]:
df2.drop('Jan')

### Drop a column

In [ ]:
df2.drop('sushi', axis = 1)

## Transforming DataFrames

In [ ]:
def dozens(n): 
    return n//12

In [ ]:
df.apply(dozens)

In [ ]:
df.apply(lambda n: n//12)

### The DataFrame index

In [ ]:
df2

In [ ]:
df2.index

### Working with string values

In [ ]:
df2.index = df2.index.str.upper()

In [ ]:
df2

In [ ]:
df.index = df.index.map(str.lower)

In [ ]:
df2

### Defining columns using other columns

In [ ]:
df2['salty_eggs'] = df2.salt + df2.eggs

In [ ]:
df2

## Exercises
### Read in the data from sales1.csv
1. Create a dataframe with all information for software sales
2. Create a dataframe with only the product and unit information for company named 'Hooli'