<b>Baseball Pitching Regression Model</b>

First we need to import our data

In [1]:
import pandas as pd
data = pd.read_csv('Pitching.csv', index_col='playerID', parse_dates=True)
data.head()

,yearID,stint,teamID,lgID,W,L,G,GS,CG,SHO,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
playerID,,,,,,,,,,,,,,,,,,,,,
bechtge01,1871,1,PH1,NaN,1,2,3,3,2,0,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
brainas01,1871,1,WS3,NaN,12,15,30,30,30,0,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
fergubo01,1871,1,NY2,NaN,0,0,1,0,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
fishech01,1871,1,RC1,NaN,4,16,24,24,22,1,...,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,0,...,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN

In [2]:
data.isnull().sum()

yearID        0
stint         0
teamID        0
lgID        132
W             0
L             0
G             0
GS            0
CG            0
SHO           0
SV            0
IPouts        0
H             0
ER            0
HR            0
BB            0
SO            0
BAOpp      2717
ERA          90
IBB       14578
WP            0
HBP         734
BK            0
BFP           6
GF            0
R             0
SH        19187
SF        19187
GIDP      20324
dtype: int64

We have some null values that we don't need for pitching such as SF (sacrifice fly), SH (sacrifice hit), GIDP (ground into double play), HBP (hit by pitch), IBB (intentional base by balls), and BAOpp (batting average opponent?).

In [3]:
data = data.drop(columns=['GIDP', 'SF', 'SH', 'HBP', 'IBB', 'BAOpp'])

In [4]:
data.isnull().sum()

yearID      0
stint       0
teamID      0
lgID      132
W           0
L           0
G           0
GS          0
CG          0
SHO         0
SV          0
IPouts      0
H           0
ER          0
HR          0
BB          0
SO          0
ERA        90
WP          0
BK          0
BFP         6
GF          0
R           0
dtype: int64

We do have some stats that we will need to be filled in, like ERA (which all pitches should have), league ID (no league in early baseball), and BFP (batters faced by pitcher). For ERA and BFP it makes sense to just fill in those values with the mean. For leagueID, it doesn't make sense

In [9]:
data['ERA']= data['ERA'].fillna(data['ERA'].mean())
data['BFP']= data['BFP'].fillna(data['BFP'].mean())

In [10]:
data.isnull().sum()

yearID      0
stint       0
teamID      0
lgID      132
W           0
L           0
G           0
GS          0
CG          0
SHO         0
SV          0
IPouts      0
H           0
ER          0
HR          0
BB          0
SO          0
ERA         0
WP          0
BK          0
BFP         0
GF          0
R           0
dtype: int64